body {
  background-image: url("/media/background.jpg");

  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

/*
.myDiv {
  padding: 20px;
  margin: 0px auto;
  position: relative;
  text-align: center;
}

canvas {

  display: block;
  margin-top: 60px;
  background-color: wheat;
}

.startPlayButton {
  position: absolute;
  margin-top: 20px;
  text-align: center;
  background-color: white;
}
*/

.canvasDiv {
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

canvas {
  margin-top: 60px;
  background-color: white;
  width: 80%;
  height: 80%;
}
.startPlayButton {
  border: 1px solid gray;
  border-radius: 7%;
  word-wrap: break-word;
  width: 100px;
  max-width: 100%;
}
