body {
  background-image: url("/media/background.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

#myCanvas {
  background-color: #aea8b5;
  border: 2px solid black;
  width: 580px;
  height: 420px;
}
.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.startPlayButton {
  margin-top: 40px;
  border: 1px solid rgb(129, 37, 37);
  border-radius: 15%;
  background-color: #aea8b5;
  width: 80px;
}

p {
  color: #9333ff;
  font-size: 30px;
  align-items: flex-start;
}

.scoreDiv {
  display: flex;
  flex-direction: column;
}

.pDiv {
  display: flex;
  flex-direction: row;
  margin: auto 50px;
}
